#Banner5_0
  .banner5-title-wrapper
  > .banner5-button-wrapper
  > .k40vsmqkk3b-editor_css {
  font-family: Trebuchet MS;
}
#Banner5_0 .home-page > .banner5-title-wrapper > .k40vtbnlt3m-editor_css {
  font-family: Trebuchet MS;
}
#Banner5_0 .home-page > .banner5-title-wrapper > .k40vtjlgqe6-editor_css {
  font-family: Trebuchet MS;
}
#Banner5_0 .home-page > .banner5-title-wrapper > .k40x8v1v0tf-editor_css {
  font-family: Trebuchet MS;
}
